#window{
    width:100%;
    height: 100%;
    display: flex;
    margin: 0px;
}

app-users{
    width: 30%;
    min-width: 250px;
    margin: 0px;
    background-color: #272626;
    padding: 4px 16px;
    overflow: auto;
}

app-user ::ng-deep ::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

app-user ::ng-deep ::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.26) !important;
}

app-user ::ng-deep ::-webkit-scrollbar-thumb {
    background: blue;
}

app-conversation{
    height: 100%;
    width: 100%;
    min-width: 400px;
    margin: 0px;
    background: whitesmoke;
}

@media (max-width: 800px){
    app-users{
    display: none;
    }
}
