mat-list{
  min-width:200px;
  width:30%;
  height: 100%;
  position: fixed;
  background: #21252b;
  margin: 0px;
  padding: 16px;
}

mat-list-item:hover{
  background: #282C34;
  cursor:pointer;
}

h2 {
  color: white !important;
  font-size: 24px !important;
}

h4{
  color:white;
}

mat-icon{
  background: white;
}

mat-divider{
  background:rgb(60, 60, 60);
}
